<div>
  <div class="row" style="margin-bottom:20px">
    <div class="col-xs-8">
      <h2>Ranking</h2>
    </div>
  </div>
    
  <div class="row">

    <div class="ranking-table">
      <div class="col-xs-12 ranking-header">
        <div class="row">
          <div class="col-md-2 ranking-cell">Player</div>
          <div class="col-md-1 ranking-cell">Score</div>
          <div class="col-md-9 ranking-cell">Bet</div>
        </div>
      </div>

      <div class="col-xs-12 ranking-row" ng-repeat="player in players">
        <div class="row">
          <div class="col-md-2 ranking-cell">{{player.name}}</div>
          <div class="col-md-1 ranking-cell">{{player.score}}</div>
          <div class="col-md-9 ranking-cell" style="cursor: pointer" ng-class="{'collapsed': !player.isRowCollapse}">
            <div ng-repeat="game in player.games" ng-click="player.isRowCollapse=!player.isRowCollapse">
                {{game.desc}}: {{game.winner.name}}
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>