<div>
  <div class="row" style="margin-bottom:20px">
    <div class="col-xs-8">
      <h2>Ranking</h2>
    </div>
  </div>
    
  <div class="row">

    <div class="ranking-table">
      <div class="col-xs-12 ranking-header">
        <div class="row">
          <div class="col-md-2 ranking-cell">Player</div>
          <div class="col-md-1 ranking-cell">Score</div>
          <div class="col-md-9 ranking-cell">
              <div class="row">
                  <div class="col-xs-4 text-right">Game</div>
                  <div class="col-xs-2 text-center">Teams</div>
                  <div class="col-xs-6">Betting winner</div>
              </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 ranking-row" ng-repeat="player in players">
        <div class="row" ng-click="player.isRowCollapse=!player.isRowCollapse">
          <div class="col-md-2 ranking-cell">{{player.name}}</div>
          <div class="col-md-1 ranking-cell">{{player.score}}</div>
          <div class="col-md-9 ranking-cell" style="cursor: pointer" 
                ng-class="{'collapsed': !player.isRowCollapse}">
            
            <div ng-repeat="game in player.games | orderBy: reverse:true" >
              <p ng-show="$index==1 || $index ==3 || $index == 7" style="border-top: 1px solid #e2e2e2; margin-bottom: 2px;"></p>
                
              <div class="row">
                <div class="col-xs-4 text-right">
                  <h5 style="margin: 7px 0;">{{game.desc}}</h5>
                </div>
                <div class="col-xs-1 text-right" style="padding-right: 0;">
                  <h5 style="margin: 7px 0;" ng-show="game.teamA != null">
                      <!-- {{teams[game.teamA].name}} -->
                      <img style="width: 30px; height: 20px; border: 1px solid black; margin-right: 10px; opacity: 0.5;" ng-src="{{'images/' + teams[game.teamA].flagImg }}"/>
                  </h5>
                  <h5 style="margin: 7px 0;" ng-show="game.teamA == null"><span style="margin-right: 5px;">???</span></h5>
                </div>
                <div class="col-xs-1" style="padding-left: 0;">
                  <h5 style="margin: 7px 0;" ng-show="game.teamB != null">
                      <span style="margin-right: 5px;">vs</span>
                      <img style="width: 30px; height: 20px; border: 1px solid black; margin-right: 10px; opacity: 0.5;" ng-src="{{'images/' + teams[game.teamB].flagImg }}"/>
                      <!-- {{teams[game.teamB].name}} -->
                  </h5>
                  <h5 style="margin: 7px 0;" ng-show="game.teamB == null"><span style="margin-right: 5px;">vs</span>???</h5>
                </div>
                <div class="col-xs-6">
                  <h5 style="margin: 7px 0;" ng-class="{
                    'winner-row': (game.realWinner!=null && game.winner.id==game.realWinner)
                    ,'loser-row': (game.realWinner!=null && game.winner.id!=game.realWinner)
                    }">
                      <span ng-show="game.realWinner!=null && game.winner.id==game.realWinner"  style="color: green;font-size: 15px;margin-right: 5px;font-weight: bold;">✓</span>
                      <span ng-show="game.realWinner!=null && game.winner.id!=game.realWinner"  style="color: red;font-size: 15px;margin-right: 5px; margin-left: 5px; font-weight: bold;">x</span>
                      <img style="width: 30px; height: 20px; border: 1px solid black; margin-right: 10px;" ng-src="{{'images/' + game.winner.flagImg }}"/>
                    {{game.winner.name}}
                  </h5>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>

  </div>
</div>