body {
  background: $background_color;
  .navbar {
    border-radius: 0;
    background: lighten($primary_color, 30%);
    .navbar-header {
      width: 100%;
    }
    .navbar-brand {
      padding: 6px;
      img { width: 42px; }
    }
  }
}

ul.table-list > li.darkBg {
  padding: 2px 20px;
}

.clickable {
  cursor: pointer;
}

.game-box {
  height: 120px;
  background: rgba(0, 139, 139, 0.5);
  box-shadow: #696969 4px 4px 8px 0;
  border: 2px solid #008b8b;
  border-radius: 3px;
  padding: 5px 15px;
  margin: 10px 0;
  .team-flag{ 
    max-height: 40px;
  }

}