body {
  background: $background_color;
  .navbar {
    border-radius: 0;
    background: lighten($primary_color, 30%);
    .navbar-header {
      width: 100%;
    }
    .navbar-brand {
      padding: 6px;
      img { width: 42px; }
    }
  }
}

ul.table-list > li.darkBg {
  padding: 2px 20px;
}

.clickable {
  cursor: pointer;
}

.fix-amount {
  font-weight: bold;
  color: #a25858;
  background: #ffcbcb;
  padding: 1px 10px;
  border: 1px solid #a25858;
}

.amount {
  font-family: monospace;
  font-size: 14px;
  &.positive {
    color: #26af33;
  }
  &.negative {
    color: #de2929;
  }
}