<div class="col-xs-12">
  <div class="row">
    <div class="col-xs-12">
      <h3>Accountant Pots</h3>
    </div>

    <!-- Search box -->
    <div class="col-sm-8">
      <div class="form-group">
        <input type="text" id="search-box" ng-model="searchBox" class="form-control" placeholder="Filter the list by ...">
      </div>
    </div>

    <!-- Add button -->
    <div class="col-sm-4 text-right">
      <button class="btn btn-icon" ng-click="$ctrl.openAddModal()">
        <span class="btn-text-section">Add Acc Pot</span>
        <span class="btn-icon-section">
          <span class="glyphicon glyphicon-plus"></span>
        </span>
      </button>
    </div>

  </div>

  <div class="row recursive-table">
    <acc-pot-level-list
            acc-pots-list="$ctrl.accPotsList"
            level="0">
    </acc-pot-level-list>

    <!--<div class="col-xs-12">-->
      <!--<dir-pagination-controls pagination-id="paginationListId"></dir-pagination-controls>-->
    <!--</div>-->

  </div>

</div>