<div class="col-xs-12">
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-unstyled table-list">

        <li class="darkBg" ng-show="$ctrl.level==0">
          <div class="row">
            <div class="col-xs-2" list-col-title title-text="Pos"     field="pos"     order-params="orderParams"></div>
            <div class="col-xs-4" list-col-title title-text="Name"    field="name"    order-params="orderParams"></div>
            <div class="col-xs-3" list-col-title title-text="Amount"  field="amount"  order-params="orderParams"></div>
          </div>
        </li>

        <li class="btn-row" ng-class="accPotItem.isExpanded ? 'expanded-row' : ''"
            ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}"
            dir-paginate="accPotItem in $ctrl.accPotsList
                          | filter: searchBox
                          | orderBy: orderParams.orderByField: orderParams.reverseSort
                          | itemsPerPage: 30">
          <div class="row">

            <div class="col-xs-2 row-text">
                <span>{{accPotItem.pos}}</span>
            </div>

            <div class="col-xs-4 row-text"><span>{{accPotItem.pos}} - {{accPotItem.name}}</span></div>
            <div class="col-xs-3 row-text">
              <span ng-class="{'fix-amount': accPotItem.children.length}">{{'€ ' + accPotItem.amount}}</span>
            </div>


            <div class="col-xs-1 row-text text-right">
              <button class="btn btn-icon"
                      ng-click="accPotItem.isExpanded = !accPotItem.isExpanded"
                      ng-show="!!accPotItem.children.length">
                <span class="btn-icon-section">
                  <span class="glyphicon"
                        ng-class="accPotItem.isExpanded ? 'glyphicon-minus' : 'glyphicon-plus'">
                  </span>
                </span>
              </button>
            </div>

            <div class="col-xs-2 text-right">
              <button class="btn btn-icon" ng-click="$ctrl.openEditModal(accPotItem)">
                <span class="btn-text-section">Edit</span>
                <span class="btn-icon-section">
                  <span class="glyphicon glyphicon-pencil"></span>
                </span>
              </button>
            </div>

            <div class="col-xs-12 nested-area" uib-collapse="!accPotItem.isExpanded">
              <div class="row">
                <div class="level-separator"></div>
                <acc-pot-level-list 
                  acc-pots-list="accPotItem.children" 
                  level="$ctrl.level+1"
                  parent-pot="accPotItem">
                </acc-pot-level-list>
              </div>
            </div>

          </div>
        </li>


      </ul>
    </div>
  </div>

  <!-- Add button -->
  <div class="row" ng-if="$ctrl.level != 0">
    <div class="col-xs-12 text-right" style="padding: 5px 35px 0px 0px;">
      <button class="btn btn-icon" ng-click="$ctrl.openAddModal()">
        <span class="btn-text-section">Add SubPot</span>
        <span class="btn-icon-section">
          <span class="glyphicon glyphicon-plus"></span>
        </span>
      </button>
    </div>
  </div>

</div>