<div>
  <h3>Register</h3>

  <div class="row">
    
    <!-- Eigthins -->
    <div class="col-xs-2">
      <div class="game-box">
        <h5>Game 1</h5>
      </div>
      <div class="game-box">
        <h5>Game 2</h5>
      </div>
      <div style="height:50px"></div>
      <div class="game-box">
        <h5>Game 3</h5>
      </div>
      <div class="game-box">
        <h5>Game 4</h5>
      </div>
    </div>
    
    <!-- Quarters -->
    <div class="col-xs-2">
      <div class="game-box" style="margin-top:70px">
        <h5>Game 9</h5>
      </div>
      <div class="game-box" style="margin-top:200px">
        <h5>Game 10</h5>
      </div>
    </div>
    
    <!-- Semifinal -->
    <div class="col-xs-2">
      <div class="game-box" style="margin-top:215px">
        <h5>Game 13</h5>
      </div>
    </div>
    
    <div class="col-xs-2">
      <div class="game-box" style="margin-top:215px">
        <h5>Game 14</h5>
      </div>
    </div>
    
    <!-- Quarters -->
    <div class="col-xs-2">
      <div class="game-box" style="margin-top:70px">
        <h5>Game 11</h5>
      </div>
      <div class="game-box" style="margin-top:200px">
        <h5>Game 12</h5>
      </div>
    </div>
    
    <!-- Eigthins -->
    <div class="col-xs-2">
      <div class="game-box">
        <h5>Game 5</h5>
      </div>
      <div class="game-box">
        <h5>Game 6</h5>
      </div>
      <div style="height:50px"></div>
      <div class="game-box">
        <h5>Game 7</h5>
      </div>
      <div class="game-box">
        <h5>Game 8</h5>
      </div>
    </div>

  </div>
</div>