<div style="padding: 0px 30px 20px;">  
  <div class="row">
    <h3 style="margin-bottom: 40px;">Submit modal</h3>

    <div class="col-md-5">
      <div class="form-group">
        <label for="exampleInputEmail1">Your Name (or nickname)</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="...">
      </div>
    </div>

    <div class="col-md-7">
      <div class="form-group">
        <label for="exampleInputEmail1">Your Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4>Your bet:</h4>      
    </div>
    <div class="col-xs-12" ng-repeat="game in games">
      <div class="row">
        <div class="col-xs-6">
          <h5 style="margin: 7px 0;">{{game.desc}}</h5>
        </div>
        <div class="col-xs-6">
          <h5 style="margin: 7px 0;">{{teams[game.winner].name}}</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success" type="submit">Submit your Bet !!</button>
    </div>
  </div>

</div>